<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">This web app is for display purposes only. This is not a real app.</span>
    </div>
</footer>