<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- "Logo" and link to dashboard -->
        <a class="navbar-brand" href="/dashboard">Budget Simple</a>

        <!-- nav-link toggler when page gets too small -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav-links start -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <ul class="navbar-nav">

                    <!-- link to dashboard -->
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>

                    <!-- link to Budgets page -->
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/budgets">Budgets</a>
                    </li>

                    <!-- LInk to Categories page -->
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>

                    <!-- link to transactions page -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" aria-current="page" href="/transactions">Transactions</a>
                    </li>
                </ul>
            </div>

            <!-- Login?logout and Register links -->
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>


        </div>
        <!-- Nav-links end -->
    </div>
</nav>