<div class="row mb-5 d-flex justify-content-center">
    <div class="col-4">
        <h1>Welcome to your Dashboard</h1>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Set budget for
                    <%= months[date.getMonth()] %> <%= date.getFullYear() %> </h5>
                <p class="card-text">Click Below to get started!</p>
                <a href="/budgets/new" class="btn btn-success">Set Budget!</a>
            </div>
        </div>
    </div>
</div>