<div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 mb-3">
    <div class="container">
        <h1 class="offset-1 mb-3">Categories</h1>
        <p class="fs-4 offset-1">Here you'll see details about the categories you've created. Get started creating the
            categories that will make up your budgets!</p>
        <div class="col-10 offset-1">
            <%- include('../modals/newCategoryModal') %>
        </div>
    </div>
</div>