.bg-yellow {
    background-color: #fceb7f!important;
    transition: all .25s ease-in-out
}

.bg-yellow:hover {
    background-color: #eedc69!important;
}

.table-alt {
    background-color: #dae8fd!important;
}

.h-divider {
    background: black;
    height: 1px;
}

/* Fixed/Flex table edit confirm button */

.confirm-change {
    color: #198754;
    width: 25%;
    transition: all .25s ease-in-out;
}

.confirm-change:hover {
    color: #146b42;
}
