.remove-btn-style {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
.remove-btn-style:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
.remove-btn-style:active {
    outline: none;
    border: none;
  }
  
.remove-btn-style:focus {
    outline: 0;
  }