<form action="/transactions" class="needs-validation mb-3" method="post" novalidate>

    <!-- Transaction date -->
    <div class="mb-3">
        <label for="datepicker">Date:</label>
        <input type="text" name="transaction[date]" class="form-control" id="datepicker" required>
    </div>

    <!-- Transaction category (only gets categories associated with the user)-->
    <div class="mb-3">
        <label for="category">Category:</label>
        <select class="form-select" name="transaction[category]" id="category" aria-label="Pick a category" required>
            <option selected disabled value="">--Choose Category--</option>
            <% for(let category of categories) {%>
            <% if(category.user.equals(currentUser._id)) {%>
            <option value="<%=category._id%>" class='<%= category.fixed === true ? 'fixed' : '' %>'>
                <%= category.title %></option>
            <% } %>
            <% } %>
        </select>
    </div>

    <!-- Transaction amount -->
    <div class="mb-3">
        <label for="amount">Total:</label>
        <input type="number" class="form-control" name="transaction[amount]" id="amount" required>
    </div>

    <!-- Add any description to the transactions -->
    <div class="mb-3">
        <label for="notes">Description:</label>
        <textarea class="form-control" name="transaction[note]" id="notes" rows="3" style="width: 100%;"
            class="d-block"></textarea>
    </div>

    <!-- Gives transaction value of fixed or flexible based on category selection-->
    <div class="hide">
        <label for="isFixed">Fixed</label>
        <input type="radio" name="transaction[isFixed]" id="isFixed" value='true'>
        <label for="flexible">Flexible</label>
        <input type="radio" name="transaction[isFixed]" id="flexible" value='false'>
    </div>

    <!-- Submits form -->
    <input type="submit" name="submit" class="btn btn-sm btn-success"></input>
    <input type="submit" value="Submit and Log Another" name="submit" class="btn btn-sm btn-success"></input>
</form>