<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4 mb-3">
        <div class="card shadow">

            <!-- Card top image -->
            <img src="https://cdn.pixabay.com/photo/2017/10/25/19/45/piggy-bank-2889042_960_720.jpg"
                class="card-img-top" alt="piggie">


            <div class="card-body">
                <h5 class="card-title">Login</h5>

                <!-- Login form start -->
                <form action="/login" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="Enter Username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Enter Password" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mb-2">Login</button>
                        <a class="text-decoration-none" href="/reset-password/verify-email">Forgot
                            Password?</a>
                        <p class="my-0 py-0">Not Registered? <span><a class="text-decoration-none" href="/register">Sign
                                    Up</a></span></p>
                    </div>

                </form>
                <!-- Login form end -->
            </div>
        </div>
    </div>
</div>