<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4 mb-3">
        <div class="card shadow">

            <!-- Card top image -->
            <img src="https://cdn.pixabay.com/photo/2017/10/25/19/45/piggy-bank-2889042_960_720.jpg"
                class="card-img-top" alt="piggie">


            <div class="card-body">
                <h5 class="card-title">Reset Password</h5>
                <p class="card-text">If this were a real app, I would have sent you a code to verify you are who you say
                    you are. But I guess I'll let it slide this time...</p>


                <!-- Reset form start -->
                <form action="/reset-password" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="email" class="form-label">Re-Enter Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Enter New Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="New Password" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success">Confirm Password</button>
                    </div>
                </form>
                <!-- Reset form end -->


            </div>
        </div>
    </div>
</div>