<% layout('layouts/boilerplate') %>

<div class="col-md-6 offset-md-3 mb-3">
    <h1>Editing Transaction</h1>

    <!-- Edit form -->
    <%- include('../partials/transactions/edit/transactionEditForm') %>

</div>

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script>
    const picker = new Litepicker({
        element: document.getElementById('datepicker')
    });

    document.querySelector('#confirm').addEventListener('click', (e) => {
        document.querySelector('#edit-form').submit()
    })

</script>