<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-10 offset-md-1 mb-3">
        <div class="mb-3">
            <div class="mb-3">
                <h1>TRANSACTIONS</h1>
            </div>
            <!-- FILTERS GO HERE! -->
            <%- include('../partials/transactions/index/transactionFilters') %>
        </div>
        <!-- TABLE GOES HERE -->
        <%- include('../partials/transactions/index/transactionTable') %>
    </div>
</div>