<% layout('layouts/boilerplate') %>

<div class="col-md-6 offset-md-3">
    <h1>Add New Transaction</h1>

    <!-- New Transaction form -->
    <%- include('../partials/transactions/new/newTransactionForm') %>

</div>

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="/scripts/transactionFixedFlexPicker.js"></script>
<script>
    const picker = new Litepicker({
        element: document.getElementById('datepicker')
    });

    transactionFixedFlexPicker()
</script>