<% layout('layouts/boilerplate') %>

<div class="col-md-6 offset-md-3">
    <h1>Add New Transaction</h1>
    <form action="/transactions" class="needs-validation" method="post" novalidate>
        <div class="mb-3">
            <label for="datepicker">Date:</label>
            <input type="text" name="transaction[date]" class="form-control" id="datepicker" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please select a date.
            </div>
        </div>
        <div class="mb-3">
            <label for="category">Category:</label>
            <select class="form-select" name="transaction[category]" id="category" aria-label="Pick a category"
                required>
                <option selected disabled value="">--Choose Category--</option>
                <% for(let category of categories) {%>
                <% if(category.user.equals(currentUser._id)) {%>
                <option value="<%=category._id%>" class='<%= category.fixed === true ? 'fixed' : '' %>'>
                    <%= category.title %></option>
                <% } %>
                <% } %>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please select a category.
            </div>
        </div>
        <div class="mb-3">
            <label for="amount">Total:</label>
            <input type="number" class="form-control" name="transaction[amount]" id="amount" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter the total of the transaction.
            </div>
        </div>
        <div class="mb-3">
            <label for="notes">Notes:</label>
            <textarea class="form-control" name="transaction[note]" id="notes" rows="3" style="width: 100%;"
                class="d-block"></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="hide">
            <label for="isFixed">Fixed</label>
            <input type="radio" name="transaction[isFixed]" id="isFixed" value='true'>
            <label for="flexible">Flexible</label>
            <input type="radio" name="transaction[isFixed]" id="flexible" value='false'>
        </div>
        <button class="btn btn-sm btn-success">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script>
    const picker = new Litepicker({
        element: document.getElementById('datepicker')
    });

    const category = document.querySelector('#category')
    const fixed = document.querySelector('#isFixed')
    const flexible = document.querySelector('#flexible')
    category.addEventListener('change', (e) => {
        for (let child of category.children) {
            if (child.selected === true && child.getAttribute('class') === 'fixed') {
                fixed.click()
                break
            } else {
                flexible.click()
            }
        }
    })
</script>