<div class="container mb-3">
    <div class="row">
        <div class="col-2 border border-2 border-end-0 bg-light">
            <p class="ms-2 my-1 fs-5">Category</p>
        </div>
        <div class="col-2 border border-2 bg-light">
            <p class="ms-2 my-1 fs-5">Amount </p>
        </div>
        <div class="col-8"></div>
        <% for(let c of budget.categories) {%>
        <div class="col-2 border border-2 border-end-0 border-top-0 alt table-alt">
            <p class="ms-2 my-0"><%= c.category.title %> </p>
        </div>
        <div class="col-2 border border-2 border-top-0 alt table-alt">
            <p class="ms-2 my-0">$<%= c.amount %> </p>
        </div>
        <div class="col-8"></div>
        <% } %>
    </div>
</div>

<script src="/scripts/alternateTableRows.js"></script>
<script>
    alternate(4)
</script>