<div class="mb-3 offset-lg-2">

    <!-- Edit -->
    <a href="/budgets/<%=budget._id%>/edit" class="btn btn-sm btn-success">Edit</a>

    <!-- Delete -->
    <form action="/budgets/<%=budget._id%>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-sm btn-danger">Delete</button>
    </form>
</div>