<% layout('layouts/boilerplate') %>
<h1>Editing <%= months[budget.month.getMonth()] %> <%= budget.month.getFullYear() %> Budget </h1>

<!-- Budget Edit Form -->
<%- include('../partials/budgets/edit/editForm') %>