<% layout('layouts/boilerplate') %>
<div id="fixed-items" class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 mb-3">
    <div class="container">
        <h1 class="offset-1 mb-3">Fixed Expenses for <%= months[budget.month.getMonth()] %>
            <%= budget.month.getFullYear() %>
        </h1>
        <%- include('../partials/budgets/fixed/fixedTable') %>
    </div>
</div>