<% layout('layouts/boilerplate') %>
<% if(budgets.length) {%>
<div class="container">
    <div class="row g-0 mb-3">
        <h2 class="col-9 offset-3 mb-3">Budget History</h2>
        <%- include('../partials/budgets/index/historyTable') %>
    </div>
</div>
<% } %>