<% layout('layouts/boilerplate') %>
<h1><%= months[budget.month.getMonth()] %> Budget: $<%= budget.amount %> </h1>
<%- include('../partials/budgets/show/budgetTable') %>
<%- include('../partials/budgets/show/edit-delete') %>